<body>
    <div class="main">
        <div class="header">
            <h3>Εκκρεμείς Δηλώσεις</h3>
        </div>
        <ul>
            {{#each completed_forms}}
            <li>
                <div class="incompleted_form">
                    <span class="left-content">
                        Δήλωση {{this.id}} - {{this.date}}<br>
                        Είδος: {{this.damage_type}}<br>
                        Αίθουσα: {{this.class_name}}<br>
                        Κτίριο: {{this.damaged_building}}
                    </span>
    
                </div>
                
            </li>
            {{/each}}
        </ul>
    </div>
</body>