<body>
    <div class="main">
        <form autocomplete="off" class="form" action="/form1/submit" method="POST">
            <legend class="inner-header">Πληροφορίες βλάβης</legend>
            <input placeholder="Όνομα κτιρίου" type="text" id="damaged_building" name="damaged_building"
                list="building_list">
            <datalist id="building_list">
                {{#each buildings}}
                <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
            </datalist>
            <br>
            <input type="text" id="class_name" name="class_name" placeholder="Όνομα αίθουσας" list="class_list"
                required>
            <datalist id="class_list">
                {{#each classes}}
                <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
            </datalist>
            <br>
            <input placeholder="Είδος βλάβης" type="text" id="damage_type" name="damage_type" list="damage_list"
                required>
            <datalist id="damage_list">
                {{#each types}}
                <option value="{{this.type}}">{{this.type}}</option>
                {{/each}}
            </datalist>
            <br>
            <div class="select">
                <select name="severity" id="severity" required>
                    <option selected disabled>Σοβαρότητα βλάβης</option>
                    {{#each severities}}
                    <option value="{{this.name}}">{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
            <br>
            <textarea class="damage_info" id="damage_info" name="damage_info" placeholder="Περιγραφή βλάβης..." rows="8"
                wrap="soft"></textarea>
            <fieldset class="field_file">
                <label for="file">Επιλέξτε ένα αρχείο:</label><br>
                <input type="file" id="file_path" name="file_path" accept=".jpg, .jpeg, .png, .pdf">
            </fieldset>
            <textarea class="additional_info" id="additional_info" name="additional_info"
                placeholder="Πρόσθετα σχόλια..." rows="8" wrap="soft"></textarea>
            <br>
            <button id="submitButton" type="submit">Υποβολή</button>
        </form>
    </div>
</body>